
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@* @inject RoleManager<IdentityRole> RoleManager *@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DisasterManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DisasterManagement.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />

</head>
<body>
    <header>
         <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DisasterManagement</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                    
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Disaster" asp-action="Index">Disaster Form</a>
                        </li>
                     
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav> 

        @if (SignInManager.IsSignedIn(User))
        {
            var userId = @UserManager.GetUserId(User);
            var roleIds = await UserManager.GetRolesAsync(await UserManager.FindByIdAsync(userId));

            if (roleIds.Contains("Admin"))
            {
                <div class="row">
                   <nav id="stickyNavbar" class="navbar navbar-expand-sm navbar-light bg-light border-bottom box-shadow mb-3">
                        <div class="container">
                            <div class="d-flex justify-content-center w-100">
                                <a href="@Url.Action("Index", "Dashboard")" class="btn btn-custom-primary me-2">Dashboard</a>
                                <a href="@Url.Action("Index", "VictimManagement")" class="btn btn-custom-primary me-2">Victim Management</a>
                                <a href="@Url.Action("Index", "Disastermanagement")" class="btn btn-custom-primary me-2">Disaster Management</a>
                                <a href="@Url.Action("Index", "Reports")" class="btn btn-custom-primary me-2">Reports</a>
                                <a class="btn btn-custom-primary me-2" asp-area="Identity" asp-page="/Account/Manage/Index">Settings</a>

                            </div>
                        </div>
                    </nav>
                </div>



            }
            else
            {
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                    <div class="container">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                            <img src="/images/nepgov.png" style="height: 40px; width: auto; margin-right: 10px;">
                            <b> विपद् व्यवस्थापन प्रणाली </b>
                        </a>



                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                            <partial name="_LoginPartial.cshtml" />
                        </div>
                    </div>
                </nav>
            }

        } 



    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notification"/>
            @RenderBody()
        </main>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
